.background-gradient-left-to-right {
    background-size: 200% 200%;
    background-image: linear-gradient(to right, white 50%, #22c55e 50%);
    background-position: -100% 0%;
    transition: background-position 1s;
}

.background-gradient-left-to-right-deleted {
    background-size: 200% 200%;
    background-image: linear-gradient(to right, white 50%, #e21414 50%);
    background-position: -100% 0%;
    transition: background-position 1s;
}